body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#Experience {
    position: relative;
}

.webgl {
    width: 100vw;
    height: 100vh;
}

.location {
    position: absolute;

    width: 75px;
    height: 75px;
    background-color: rgb(255, 187, 0);
    border-radius: 100%;
    outline: solid  rgb(255, 187, 0) 2px;
    outline-offset: 7px;

    will-change: outline-offset, opacity;
    transition: outline-offset .1s ease-in-out, opacity .35s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: all;
}

.location.inactive {
    opacity: 0;
    pointer-events: none;
}

.location:hover {
    outline-offset: 5px;
    cursor: pointer;
}

.location .Name {
    color: black;
    font-size: 1.5rem;
}


#Puertomarin .Name {
    font-size: .8rem;
}

#PalasDeRey .Name {
    font-size: .8rem;
}

#OPedrouzo .Name {
    font-size: .9rem;
}

#Santiago {
    width: 100px;
    height: 100px;
}

.Cartel {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80vw;
    height: 70vh;
    background-color: white;

    overflow-y: scroll;

    opacity: 0;
    pointer-events: none;

    transition: opacity 1s ease-in-out;
    will-change: opacity;
}

.GoBack:hover {
    cursor: pointer;
}

.Cartel.active {
    opacity: 1;
    pointer-events: none;
}